<div class="title-block">
    <h3 class="title">
      Страница постов
    </h3>
  </div>
  <section class="section text-center" *ngIf="!isLoaded">
    Загрузка....
  </section>
  <section class="section" *ngIf="isLoaded">
    <div class="row">
      <div class="col-md-6">
        <app-add-recipe (onRecordAdd)="newRecordAdded($event)"></app-add-recipe>
      </div>
      <div class="col-md-6">
        <app-edite-recipe
          [records]="records"
          (onRecordEdit)="recordWasEdited($event)"
        ></app-edite-recipe>
      </div>
    </div>
  </section>