

  <div class="section">
    <div class="title-block">
        <h3 class="title">
          Рецепты
        </h3>
      </div>
      <table class="table">
        <thead class="thead-inverse">
        <tr>
          <th>№</th>
          <th>Название</th>
          <th>Дата</th>
          <th>Описание</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let c of records">
          <th scope="row">{{c.id}}</th>
          <td>{{c.name}}</td>
          <td>{{c.date}}</td>
          <td>{{c.description}}</td>
        </tr>
        </tbody>
      </table>
  </div>