<h2 class="title">Изменить пост</h2>
<form  #f="ngForm" (ngSubmit)="onSubmit(f)">
  <div
    class="form-group"
    [ngClass]="{'has-error': name.invalid && name.touched}"
  >
    <div class="input-group">
      <span class="input-group-addon"><i class="fa fa-user ti-user"></i></span>
      <input
  type="text"
  class="form-control"
  placeholder="Введите название записи"
  name="name"
  #name="ngModel"
  required
  [ngModel]="currentRecord"
>
    </div>
    <span
      class="form-help-text"
      *ngIf="name.invalid && name.touched"
    >
      <span>Поле обязательно для заполнения</span>
    </span>
  </div>
  <div
  class="form-group"
  [ngClass]="{'has-error': date.invalid && date.touched}"
>
  <div class="input-group">
    <span class="input-group-addon"><i class="fa fa-user ti-user"></i></span>
    <input
      type="date"
      class="form-control"
      placeholder="Введите название записи"
      name="date"
      #date="ngModel"
      required
      ngModel
    >
  </div>
  <span
    class="form-help-text"
    *ngIf="date.invalid && date.touched"
  >
    <span>Поле обязательно для заполнения</span>
  </span>
</div>
  <div
    class="form-group"
    [ngClass]="{'has-error': description.invalid && description.touched}"
  >
    <div class="input-group">
      <span class="input-group-addon"><i class="fa fa-lock ti-unlock"></i></span>
      <textarea
        class="form-control"
        name="description"
        placeholder="Текст записи"
        ngModel
        #description="ngModel"
        required
      ></textarea>
    </div>
    <span
      class="form-help-text"
      *ngIf="name.invalid && name.touched"
    >
      <span>Поле обязательно для заполнения</span>
    </span>
  </div>
  <button
    class="btn btn-primary btn-block"
    type="submit"
    [disabled]="f.invalid"
  >Создать</button>
</form>

<div class="form-group">
    <div class="input-group">
      <span class="input-group-addon"><i class="fa fa-user ti-user"></i></span>
      <select
      class="form-control"
      id="e-select-category"
      [(ngModel)]="currentRecordId"
      (change)="onRecordChange()"
      [ngModelOptions]="{standalone: true}"
    >
      <option
        *ngFor="let c of records"
        [value]="c.id"
      >
        {{c.name}}
      </option>
    </select>
    </div>
  </div>